body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
}

a{
    color:inherit;
    text-decoration:none;
}


.wrap {
    background: bisque;
}

.logo {
    background: white;
}

.content-wrap {
    background: red;
    display: flex;
}

.side-menu {
    background: grey;
    width:10%;
    height:800px;
    overflow: auto;
    text-align: center;
}

.selected-item {
    background: blue;
}

.content {
    background: black;
    width:90%;
}